<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>段永旺</title>
</head>
<body>
<input type="hidden" value="段永旺的个人主页">
<input type="hidden" value="段永旺">
<input type="hidden" value="段永旺的简历">
<input type="hidden" value="段永旺的网站">
<input type="hidden" value="段永旺的微博">
<input type="hidden" value="段永旺的主页">
<input type="hidden" value="段永旺的github">
<input type="hidden" value="旺旺的个人主页">
<input type="hidden" value="旺旺的简历">
<input type="hidden" value="旺旺的网站">
<input type="hidden" value="旺旺的主页">
<input type="hidden" value="旺旺的微博">
<input type="hidden" value="旺旺的github">
<h2>网站建设中，敬请期待。。。 coming soon...</h2>
</body>
</html>